.table td, th {
  text-align: left;
} 

.popup_menu {
  position: absolute;
  z-index: 100;
  width: 150px;
  height: 102px;
  background-color: white;
  box-shadow: 0 0 10px 1px gray;
}

.popup_menu > .menu_button {
  background-color: white;
  width: 100%;
  height: 34px;
  white-space: nowrap;
  border: 0.5px solid lightgray;
  border-radius: 0px;
  font-size: medium;
  justify-content: left;
}

.popup_menu > .menu_button > .button_icon {
  margin-right: 3px;
  font-size: 16px;
}